<div *ngFor="let producto of carrito">
    <div>
      <h3>{{producto.nombre}}</h3>
      <p>Precio: ${{producto.precio}}</p>
      <p>Capacidad: {{producto.capacidad}}</p>
  
      <!-- Botones para aumentar y disminuir la cantidad -->
      <button (click)="disminuirCantidad(producto)">-</button>
      <span>{{producto.cantidad}}</span> <!-- Muestra la cantidad del producto -->
      <button (click)="aumentarCantidad(producto)">+</button>
      <button (click)="eliminarProducto(producto)">Eliminar</button>
    </div>
  </div>
  <button (click)="generarXML()">Descargar Carrito</button>
  